---
const all = Astro.props.data
const data = all[0]
---

<section class="flex flex-col items-center justify-center mb-20">
  <div class="flex flex-col items-center justify-center px-40 py-5">
    <h2 class="font-script text-4xl text-wrap pb-3">
      {data.title}
    </h2>
    <p class="font-thin text-md text-wrap text-center">
      {data.description}
    </p>
  </div>
  <div class="flex flex-row gap-10 px-20 ">
    {data.items.map((item) => (
      <article class="flex flex-col p-4 gap-3 shadow-xl bg-white w-full">
        <img
          loading="lazy"
          src={item.image}
          alt="Café"
          class="overflow-hidden w-full"
        />
        <h3 class="font-custom font-script text-3xl text-wrap">{item.title}</h3>
        <p class="font-thin">{item.description}</p>
      </article>
    ))}
  </div>
</section>
