---
const all = Astro.props.data;
const data = all[0];
const item1 = data.items[0];
const item2 = data.items[1];
const item3 = data.items[2];
const item4 = data.items[3];
---

<section
  class="grid-container flex flex-col items-center justify-center pt-20 pb-20 bg-gray-200 mb-20"
>
  <h2 class="center text-4xl font-script font-bold pb-5">{data.title}</h2>
  <div
    class="grid grid-cols-2 justify-center items-center custom-grid gap-x-20"
  >
    <div
      class="grid-item flex flex-col items-center text-center px-20 py-5 text-wrap"
    >
      <a href="/">
        <img loading="lazy" src={item1.icon} alt="Terrace" class="grid-image w-20 mb-3" />
      </a>
      <h3 class="mb-5 text-red-600 text-3xl font-script">{item1.title}</h3>
      <p class="font-thin">
        {item1.description}
      </p>
    </div>
    <div
      class="grid-item flex flex-col items-center text-center px-20 py-5 text-wrap"
    >
      <a href="/">
        <img loading="lazy" src={item2.icon} alt="Sports Retransmission" class="w-20 mb-3" />
      </a>
      <h3 class="mb-5 text-red-600 text-3xl font-script">{item2.title}</h3>
      <p class="font-thin">
        {item2.description}
      </p>
    </div>
    <div
      class="grid-item flex flex-col items-center text-center px-20 py-5 m-0.5 text-wrap"
    >
      <a href="/">
        <img loading="lazy" src={item3.icon} alt="Ice Cream" class="grid-image w-20 mb-3" />
      </a>
      <h3 class="mb-5 text-red-600 text-3xl font-script">{item3.title}</h3>
      <p class="font-thin">
        {item3.description}
      </p>
    </div>
    <div
      class="grid-item flex flex-col items-center text-center px-20 py-5 m-0.5 text-wrap"
    >
      <a href="/">
        <img loading="lazy"
          src={item4.icon}
          alt="Tapas and wines"
          class="grid-image w-20 mb-3"
        />
      </a>
      <h3 class="mb-5 text-red-600 text-3xl font-script">{item4.title}</h3>
      <p class="font-thin">
        {item4.description}
      </p>
    </div>
  </div>
</section>
